In [1]:
#import the dependencies

import pandas as pd
import gmaps
import requests
#import the api key
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2021-04-07 01:54:47,-42.7826,147.0587,69.01,52,20,5.75
1,1,Shimoda,JP,2021-04-07 01:52:16,34.6667,138.9500,57.20,62,20,10.36
2,2,Allahganj,IN,2021-04-07 01:54:47,27.5500,79.6833,81.75,13,64,8.41
3,3,General Roca,AR,2021-04-07 01:54:47,-39.0333,-67.5833,69.80,43,20,6.91
4,4,Grand Bank,CA,2021-04-07 01:54:48,47.0999,-55.7650,39.76,97,100,11.92

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#configure gmaps to use your google apu key
gmaps.configure(api_key=g_key)

In [9]:
#get the maximum temp
max_temp = city_data_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]

In [18]:
#heatmap of temperature
#get the latitude adn longitude
locations = city_data_df[["Lat","Lng"]]
#get the maximum temperature
max_temp = city_data_df["Max Temp"]
#assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights = temps, dissipating=False, max_intensity=300,point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
#Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [30]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Allahganj,IN,2021-04-07 01:54:47,27.5500,79.6833,81.75,13,64,8.41
5,5,Andrews,US,2021-04-07 01:54:48,32.3187,-102.5457,80.60,7,1,13.80
6,6,Vaini,TO,2021-04-07 01:51:38,-21.2000,-175.2000,80.60,74,20,10.36
7,7,Nelson Bay,AU,2021-04-07 01:54:48,-32.7167,152.1500,75.20,73,40,10.36
13,13,Kapaa,US,2021-04-07 01:52:44,22.0752,-159.3190,75.20,64,75,21.85

In [31]:
preferred_cities_df.count()

City_ID       210
City          210
Country       210
Date          210
Lat           210
Lng           210
Max Temp      210
Humidity      210
Cloudiness    210
Wind Speed    210
dtype: int64

In [32]:
#create dataframe called hotel_df to store hotel names along with city, country, maxtemp, and coordinates
hotel_df = preferred_cities_df[["City","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Allahganj      IN     81.75  27.5500   79.6833
5        Andrews      US     80.60  32.3187 -102.5457
6          Vaini      TO     80.60 -21.2000 -175.2000
7     Nelson Bay      AU     75.20 -32.7167  152.1500
13         Kapaa      US     75.20  22.0752 -159.3190
14     Hithadhoo      MV     82.47  -0.6000   73.0833
15       Tautira      PF     86.00 -17.7333 -149.1500
20       Kavieng      PG     84.29  -2.5744  150.7967
21       Cocorit      MX     77.00  27.5833 -109.9667
27  Puerto Ayora      EC     78.01  -0.7393  -90.3518

In [34]:
#set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}


##for index, row in df.iterrows()##!!!
#iterate through the dataframe
for index, row in hotel_df.iterrows():
    #get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #add the latitude and longitude to the location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #use the search term: "lodging" and out latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and get the json data from the search 
    hotels = requests.get(base_url, params=params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [35]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Allahganj,IN,81.75,27.5500,79.6833,Rajesh TVS Motors
5,Andrews,US,80.60,32.3187,-102.5457,Days Inn by Wyndham Andrews Texas
6,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
7,Nelson Bay,AU,75.20,-32.7167,152.1500,Mantra Nelson Bay
13,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
#store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))